{% extends "layout.html" %}
{% block body %}
<div class="table-responsive">
	<h2>{{ entries.name }} <small>{{entries['data']['record']}}</small></h2>

	<table class="table" data-toggle="table">
		<thead>
			<tr>
				<th>OTL</th>
				<th>GF</th>
				<th>GA</th>
				<th>PP%</th>
				<th>PK%</th>
				<th>FOP%</th>
				<th>HPG</th>
				<th>PMPG</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{entries['data']['otl']}}</td>
				<td>{{entries['data']['gf']}}</td>
				<td>{{entries['data']['ga']}}</td>
				<td>{{entries['data']['ppperc']}}</td>
				<td>{{entries['data']['pkperc']}}</td>
				<td>{{entries['data']['fop']}}</td>
				<td>{{entries['data']['hitspg']}}</td>
				<td>{{entries['data']['pimpg']}}</td>
			</tr>
		</tbody>
	</table>
</div>
<br/>
<div class="table-responsive">
	<h3>Recent matches</h3>

	<table class="table" data-toggle="table">
		<thead>
			<tr>
				<th class="time" data-valign="middle">Date</th>
				<th class="score" data-align="center" data-valign="middle">Score</th>
				<th data-valign="middle">Against</th>
			</tr>
		</thead>
		<tbody>
			{% for entry in games %}
			<tr>
				<td>{{ entry.time }}</td>
				<td><span class="{{ entry.result }}">{% if home_team %}<a class="btn btn-link score-data" href="/game/{{ entry.id }}">{% endif %}{{ entry.us_goals }} - {{ entry.them_goals }}{% if home_team %}</a></span>{% endif %}</td>
				<td><a href="/team/{{ entry.them_id }}">{{ entry.them }}</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

</div>
<br />
<div class="section" id="details">
	<h2>Details</h2>
  	<pre id="stats">{{ entries.stats }}</pre>
</div>

{% endblock %}
