{% extends "layout.html" %} {% block body %}

<div class="row">
	<div class="col-md-6">
		<div class="table-responsive">
			<h3>Left Wing</h3>

			<table class="table" data-toggle="table">
				{% include 'position_table_headers.html' %}
				<tbody>
					{% for player in positions['lws'] %} {% include 'position_table_data.html' %} {% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-md-6">
		<div class="table-responsive">
			<h3>Center</h3>

			<table class="table" data-toggle="table">
				{% include 'position_table_headers.html' %}
				<tbody>
					{% for player in positions['centers'] %} {% include 'position_table_data.html' %} {% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
<br/>
<div class="row">
	<div class="col-md-6">
		<div class="table-responsive">
			<h3>Right Wing</h3>

			<table class="table" data-toggle="table">
				{% include 'position_table_headers.html' %}
				<tbody>
					{% for player in positions['rws'] %} {% include 'position_table_data.html' %} {% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-md-6">
		<div class="table-responsive">
			<h3>Defender</h3>

			<table class="table" data-toggle="table">
				{% include 'position_table_headers.html' %}
				<tbody>
					{% for player in positions['defenders'] %} {% include 'position_table_data.html' %} {% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-md-4"></div>
</div>
{% endblock %}
